@font-face {
  font-family: "SmartKit";
  src: local("SmartKit"), url("../fonts/SmartKit.ttf") format("truetype");
}

@font-face {
  font-family: "Glyphicons-Regular";
  src: local("Glyphicons-Regular"),
    url("../fonts/glyphicons-halflings-regular.ttf") format("truetype");
}
