:root {
  --coal: #3c3d41;
  --teal: #007b85;
  --info: #2d6bcf;
  --link: #003591;
  --success: #4bbf73;
  --warning1: #e5a54b;
  --warning2: #d9534f;
  --black1: #000000;
  --black2: #414d45;
  --black3: #32373b;
  --gray1: #6c757d;
  --gray2: #ced4da;
  --gray3: #dee6ed;
  --white: #fff;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  word-wrap: break-word;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  color: #3c3d41;
  margin: 0px;
}

h1 {
  font-family: "Titillium Web", sans serif;
  font-size: 64px;
  line-height: 64px;
}

h2 {
  font-size: 36px;
  line-height: 40px;
}

h3 {
  font-size: 28px;
  line-height: 32px;
}

h4 {
  font-size: 22px;
  line-height: 28px;
}

h5 {
  font-size: 20px;
  line-height: 28px;
}

@media (max-width: 783px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
  h1 {
    font-size: 56px;
    line-height: 56px;
  }

  h2 {
    font-size: 32px;
    line-height: 36px;
  }

  h3 {
    font-size: 26px;
    line-height: 28px;
  }

  h4 {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 615px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
  h1 {
    font-size: 36px;
    line-height: 36px;
  }

  h2 {
    font-size: 30px;
    line-height: 32px;
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
  }

  h4 {
    font-size: 20px;
    line-height: 24px;
  }
}

.Header {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  top: 0;
  width: 100%;
  height: 40px;
  padding: 8px 32px;
  background-color: var(--white);
  z-index: 1;
}

.Header-Wrapper {
  float: left;
  display: flex;
  align-items: center;
  gap: 30px;
}

.Header-Logo {
  height: 40px;
}

.Header-Text {
  font-size: 32px;
  font-weight: normal;
  margin: 0px;
  text-decoration: none;
  text-transform: capitalize;
}

.Header a {
  text-decoration: none;
  color: var(--link);
}

.Sidebar {
  background-color: var(--white);
  height: 100vh;
  width: 90px;
  position: fixed;
  overflow-x: hidden;
  text-align: center;
  z-index: 1;
}
.Siderbar-Ul {
  border-top: 1px solid transparent;
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.Sidebar-Li {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  display: block;
  width: auto;
  border-right: 3px solid transparent;
  position: relative;
  white-space: nowrap;
}
.Sidebar-Li .active {
  background-color: var(--link);
}

.Sidebar-Li:hover {
  border-color: var(--link);
  border-color: rgba(255, 255, 255, 0.25) var(--link) rgba(255, 255, 255, 0.25)
    rgba(0, 0, 0, 0.25);
}

.Sidebar-Li:before {
  border-color: var(--link);
  border-width: 6px;
  margin-top: -6px;
  top: 50%;
}

.Sidebar-Links {
  text-align: center;
  border-top: 1px solid transparent;
}

.Sidebar-Icon {
  margin: 0 auto;
  font-size: 30px;
  padding: 0 0 7.5px;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.Sidebar-Link {
  color: #8e9ba9;
  padding: 12px 0;
  font-weight: normal;
  text-decoration: none;
  display: grid;
  transition: 0.3s;
  border-width: 6px;
}
.Sidebar-Text {
  display: block;
  text-transform: none;
  white-space: pre-wrap;
  overflow: hidden;
  padding: 0 5px;
  font-size: 11px;
}
.Sidebar-Link:hover {
  background: transparent;
  color: var(--link);
  border-color: transparent var(--link) transparent transparent;
}

.Sidebar-Link:active {
  color: var(--link);
  text-decoration: underline;
}

.active {
  border-color: transparent var(--link) transparent transparent;
  background-color: var(--white);
}

.active-link {
  color: var(--link);
}

@media (max-width: 450px) {
  .Sidebar {
    width: 50px;
    padding: 0px;
  }
  .Sidebar-Text {
    display: none;
  }
  .Sidebar-Links {
    border-top: 0px solid rgba(0, 0, 0, 0.25);
  }
}

ul ol {
  margin-top: 0;
  margin-bottom: 10px;
}

dl,
ol,
p,
ul {
  font-size: 14px;
  line-height: 1.4em;
}

main {
  margin-left: 90px;
  margin-top: 56px;
  margin-bottom: 39px;
  background-color: #f4f4f4;
  min-height: 85vh;
  padding: 2em;
}

footer {
  background: var(--white);
  padding: 13px 20px;
  color: var(--black1);
  margin-left: 90px;
  position: fixed;
  bottom: 0;
  width: 93%;
}

footer a {
  text-decoration: none;
  color: var(--black1);
  padding: 0px 8px;
  transition: 0.4s;
  border-left: 1px solid var(--black1);
}

footer a:hover {
  text-decoration: underline;
}

footer a:first-child {
  padding-left: 0px;
  border-left: none;
}
footer a:last-child {
  padding-right: 0px;
}

footer .poweredby {
  float: right;
}

.Dotted {
  border-style: dotted;
}

@media (max-width: 750px) {
  .Login-Screen {
    grid-template-rows: auto auto;
    grid-template-columns: none;
  }
  .Login-Form button {
    width: 100%;
  }
  .Login-Form {
    max-width: 600px;
  }
}

@media (max-width: 450px) {
  .Sidebar {
    width: 50px;
    padding: 0px;
  }
  .Sidebar-Text {
    display: none;
  }
  main {
    margin-left: 50px;
  }
  footer {
    margin-left: 50px;
  }
  .Sidebar-Links {
    border-top: 0px solid rgba(0, 0, 0, 0.25);
  }
}
